<!DOCTYPE html>
<html lang="pt-br" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="viewport" content="width=device-width" />*@

    <link href="~/lib/@@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/estilo.css" rel="stylesheet" />

    <title>@ViewData["Title"] - NaveMap</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

            <a class="navbar-brand" href="#">NaveMap</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index" >Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Navigation" asp-action="Navigate" >Navigation</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - NaveMap</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
